/**
 * Libertinus Font Faces
 * =====================
 */
/**
 * Libertinus Serif
 * ----------------
 */
@font-face /* Libertinus Serif Regular Upright */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Serif), local(Libertinus Serif Regular), local(Libertinus),
		url("LibertinusSerif-Regular.woff2") format("woff2");
}
@font-face /* Libertinus Serif Regular Italic */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  italic;
	font-weight: 400;
	src: local(Libertinus Serif Italic),
		url("LibertinusSerif-Italic.woff2") format("woff2");
}
@font-face /* Libertinus Serif Semibold Upright */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  normal;
	font-weight: 600;
	src: local(Libertinus Serif), local(Libertinus Serif Semibold),
		url("LibertinusSerif-Semibold.woff2") format("woff2");
}
@font-face /* Libertinus Serif Semibold Italic */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  italic;
	font-weight: 600;
	src: local(Libertinus Serif Semibold Italic),
		url("LibertinusSerif-SemiboldItalic.woff2") format("woff2");
}
@font-face /* Libertinus Serif Bold Upright */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  normal;
	font-weight: 700;
	src: local(Libertinus Serif Bold),
		url("LibertinusSerif-Bold.woff2") format("woff2");
}
@font-face /* Libertinus Serif Bold Italic */
{
	font-family: Libertinus Serif/*, Libertinus*/;
	font-style:  italic;
	font-weight: 700;
	src: local(Libertinus Serif Bold Italic),
		url("LibertinusSerif-BoldItalic.woff2") format("woff2");
}
/**
 * ### Libertinus Serif Display ###
 */
@font-face /* Libertinus Serif Display */
{
	font-family: Libertinus /*Serif*/ Display/*, Libertinus*/;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Serif Display),
		url("LibertinusSerifDisplay-Regular.woff2") format("woff2");
}
/**
 * ### Libertinus Serif Initials ###
 */
@font-face /* Libertinus Serif Initials */
{
	font-family: Libertinus /*Serif*/ Initials/*, Libertinus*/;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Serif Initials),
		url("LibertinusSerifInitials-Regular.woff2") format("woff2");
}
/**
 * Libertinus Sans
 * ---------------
 */
@font-face /* Libertinus Sans Regular Upright */
{
	font-family: Libertinus Sans/*, Biolinum*/;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Sans),
		url("LibertinusSans-Regular.woff2") format("woff2");
}
@font-face /* Libertinus Sans Regular Italic */
{
	font-family: Libertinus Sans/*, Biolinum*/;
	font-style:  italic;
	font-weight: 400;
	src: local(Libertinus Sans Italic),
		url("LibertinusSans-Italic.woff2") format("woff2");
}
@font-face /* Libertinus Sans Bold Upright */
{
	font-family: Libertinus Sans/*, Biolinum*/;
	font-style:  normal;
	font-weight: 700;
	src: local(Libertinus Sans Bold),
		url("LibertinusSans-Bold.woff2") format("woff2");
}
/**
 * Libertinus Math
 */
@font-face /* Libertinus Serif Math */
{
	font-family: Libertinus /*Serif*/ Math;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Math),
		url("LibertinusMath-Regular.woff2") format("woff2");
}
/**
 * Libertinus Mono
 */
@font-face /* Libertinus Serif Mono */
{
	font-family: Libertinus /*Serif*/ Mono;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Mono),
		url("LibertinusMono-Regular.woff2") format("woff2");
}
/**
 * Libertinus Keyboard
 */
@font-face /* Libertinus Serif Keyboard */
{
	font-family: Libertinus Keyboard;
	font-style:  normal;
	font-weight: 400;
	src: local(Libertinus Keyboard),
		url("LibertinusKeyboard-Regular.woff2") format("woff2");
}


/**
 * Iosevka
 * =====================
 */
@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('iosevka-fixed-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('iosevka-fixed-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('iosevka-fixed-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('iosevka-fixed-bolditalic.woff2') format('woff2');
}
